<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body>
<!--This creates a header for each page, which hyperlinks to each assessment page-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/assessment_one">Assessment One</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/assessment_two">Assessment Two</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/assessment_three">Assessment Three</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/assessment_four">Assessment Four</a>
      </li>
    </ul>
  </div>
</nav>


<div class="jumbotron text-center">
  <h1>Project 3</h1>
  <p>By Seb L, Callam B, Lee T, Tom O and Zayn I.</p>
</div>

<!--Variables, which are defined in website.py, which are then displayed-->
<hr>
<p style="font-family:Century Gothic;font-size:20px;">{{ general_page_description}}</p>
<hr>
<pre style="font-family:Century Gothic;font-size:20px;">{{ documentation }}</pre>
<hr>
<pre style="font-family:Century Gothic;font-size:17px;">{{ code }}</pre>
{% block content %}{% endblock %}
</body>
</html>
