<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body>

<!-- Code for the navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/assessment_one">Assessment One</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/assessment_two">Assessment Two</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/assessment_three">Assessment Three</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/assessment_four">Assessment Four</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Displays the text in the centre of the page -->

<div class="jumbotron text-center">
  <h1>Project 3</h1>
  <p>By Seb L, Callam B, Lee T, Tom O and Zayn I.</p>
</div>

<!-- Cards which the user can interact with to view the code of the different specs. -->

<div class="container">
  <div class="row">
    <div class="col-sm-3">
<div class="card">
  <h4 class="card-header">Spec-1</h4>
  <div class="card-body">
    <h3 class="card-title">Text Files</h3>
    <p class="card-text">A program that explores frequency analysis of large text files and produces a visual way of presenting analytic results.</p>
    <a href="/assessment_one" class="btn btn-primary">View Code</a>
  </div>
</div>
    </div>

            <div class="col-sm-3">
<div class="card">
  <h4 class="card-header">Spec-2</h4>
  <div class="card-body">
    <h3 class="card-title">Images</h3>
    <p class="card-text">A program that manipulates a selection of images of various sizes and file formats and converts them to JPEG thumbnails, with user input.</p>
    <a href="/assessment_two" class="btn btn-primary">View Code</a>
  </div>
</div>
                    </div>
                    <div class="col-sm-3">
<div class="card">
  <h4 class="card-header">Spec-3</h4>
  <div class="card-body">
    <h3 class="card-title">Web Application</h3>
    <p class="card-text">A program that explores frequency analysis of large text files and produces a visual way of presenting analytic results.</p>
    <a href="/assessment_three" class="btn btn-primary">View Code</a>
  </div>
</div>
                            </div>
                            <div class="col-sm-3">
<div class="card">
  <h4 class="card-header">Spec-4</h4>
  <div class="card-body">
    <h3 class="card-title">Creative Freedom</h3>
    <p class="card-text">A program using a Python library not mentioned/used in the previous challenges or tasks.</p>
    <a href="/assessment_four" class="btn btn-primary">View Code</a>
  </div>
</div>
  </div>
</div>
</div>
    </div>
  </div>
{% block content %}{% endblock %}
</body>

</html>
